//main sass file
//import here all needed sass modules and styling

//include icons
$fa-font-path: "/fonts" !default;
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

@import "./core/constants";
@import "./core/text";

html, body {
  min-height: 100%;
  height: 100%;
}
body {
  background: $white;
  overflow-y: scroll;
  margin: 0;
  &.noscroll {
    overflow: hidden;
  }
  .bottom-bar {
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    z-index: -10;
    padding: 2% 20% 2% 20%;
    color: $white;
    text-align: center;
    box-sizing: border-box;
    background-color: $orange;
  }
}

//main router outlet
.app {
  height: 100%;
  position: relative;
}
.outlet-full {
  display: flex;
  width: 100%; height: 100%;
  transition: all 0.5s ease;
  opacity: 1; transform: translateY(0);

  .ng-isolate-scope{
    width: 100%;
  }

  &.ng-hide, &.ng-enter {
    opacity: 0; transform: translateY(100px);
  }

  &.ng-enter-active, &.ng-leave {
    opacity: 1; transform: translateY(0);
  }
  &.ng-leave {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
  }

  &.ng-leave-active {
    opacity: 0; transform: translateY(100px);
  }
}
