//main sass file
//import here all needed sass modules and styling

//include icons
$fa-font-path: "/fonts" !default;
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "../fonts/lato/lato.scss";

@import "./core/constants";
@import "./core/text";

html, body {
  min-height: 100%;
  height: 100%;
  font-family: 'Lato';
  ::selection{
    background: $orange; /* WebKit/Blink Browsers */
  }
}
body {
  background: $white;
  overflow-y: auto;
  margin: 0;
  &.noscroll {
    overflow: hidden;
  }
}

//main router outlet
.app {
  height: 100%;
  position: relative;
}

.__hasNavbar {
  padding-top: 50px;
}
.outlet-full {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.5s ease;
  opacity: 1; transform: translateY(0);

  .ng-isolate-scope{
    width: 100%;
  }

  &.ng-hide, &.ng-enter {
    opacity: 0; transform: translateY(100px);
  }

  &.ng-enter-active, &.ng-leave {
    opacity: 1; transform: translateY(0);
  }
  &.ng-leave {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
  }

  &.ng-leave-active {
    opacity: 0; transform: translateY(100px);
  }
}
