@import "../../core/constants";
@import "../../core/mixins";

std-text {
  .input-container input {
    height: 35px;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    padding-left: 5px;

    &:read-only {
      background-color: rgba(128, 128, 128, 0.1);
      border: 1px solid grey;
    }
  }


  label {
    margin-bottom: 5px;
  }

  label, input {
    display: block;
  }
}
