@import "../../core/constants";
@import "../../core/mixins";

nav-bar .nav-container {
  width: 100%;
  position: fixed;
  height: 50px;
  box-sizing: border-box;
  background-color: $orange;
}

nav-bar .nav-brand {
  width: 10%;
  height: 50px;
  text-align: center;
  line-height: 15px;
  background-color: $white;
  color: $orange;
  float: left;
  cursor: pointer;
}

nav-bar .navigation {
  width: 80%;
  height: 50px;
  line-height: 15px;
  display: inline-block;
  text-align: center;
}

nav-bar .menu-item {
  min-width: 10%;
  height: 50px;
  display: inline-block;
  line-height: 15px;
  color: $white;
  cursor: pointer;
}

nav-bar .active {
  border-bottom: 5px solid $green;
  box-sizing: border-box;
  transform: translateZ(0);
  transition: all 0.1s ease-out;
}

nav-bar .user {
  width: 10%;
  height: 50px;
  text-align: center;
  line-height: 15px;
  background-color: $white;
  color: $orange;
  float: right;
  text-decoration: underline;
}

nav-bar .profile-options {
  width: calc(10% - -3px);
  min-height: 100%;
  float: right;
  box-sizing: border-box;
  border-left: 3px solid $orange;
  border-bottom: 3px solid $orange;
  border-bottom-left-radius: 5px;
}

nav-bar .option-item {
  height: 25px;
  color: $orange;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

