@import "../../core/constants";
@import "../../core/mixins";

nav-bar .nav-container {
  width: 100%;
  position: fixed;
  height: 50px;
  box-sizing: border-box;
  background-color: $orange;
}

nav-bar .nav-brand {
  width: 10%;
  height: 50px;
  text-align: center;
  line-height: 15px;
  background-color: $white;
  color: $orange;
  float: left;
  cursor: pointer;
}

nav-bar .navigation {
  width: 80%;
  height: 50px;
  line-height: 15px;
  display: inline-block;
  text-align: center;
}

nav-bar .menu-item {
  min-width: 10%;
  height: 50px;
  display: inline-block;
  line-height: 15px;
  margin-left: 2%;
  color: $white;
  cursor: pointer;
}

nav-bar .active {
  border-bottom: 5px solid $green;
  box-sizing: border-box;
  transform: translateZ(0);
  transition: all 0.1s ease-out;
}

nav-bar .user-container {
  float: right;
  width: 10%;
}
nav-bar .user {
  height: 50px;
  text-align: center;
  line-height: 12px;
  background-color: $white;
  color: $orange;
  float: left;
  width: 100%;
  text-decoration: underline;
}

nav-bar .profile-options {
  width: calc(100% + 3px);
  // transform: translateX(-3px);
  max-height: 0;
  overflow: hidden;
  height: 100%;
  margin-top: -3px;
  float: right;
  display: block;
  box-sizing: border-box;
  border-left: 3px solid $orange;
  border-bottom: 3px solid $orange;
  border-bottom-left-radius: 5px;
  transition: .2s max-height linear;

  &.__isOpen {
    max-height: 100px;
  }
}


nav-bar .option-item {
  height: 25px;
  color: $orange;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  width: 100%;
  display: block;
  float: left;
}

