<div class="nav-container" ng-if="$root.showNavBar">
  <div class="nav-brand" ng-click="vm.home()">
    <h2>CHIBB</h2>
  </div>
  <div class="navigation">
    <div
    ng-repeat="menu in vm.me.menuOptions track by $index"
    class="menu-item"
    ng-class="{active : menu.active}"
    ng-click="menu.action()">
      <h3>{{menu.name | uppercase}}</h3>
    </div>
  </div>
  <div class="user-container" ng-mouseover="vm.expandProfileOptions = true" ng-mouseleave="vm.expandProfileOptions = false">
    <div class="user">
      <h2>{{vm.name}}</h2>
    </div>
    <div class="profile-options" ng-class="{__isOpen: vm.expandProfileOptions}">
      <div
      class="option-item"
      ng-repeat="option in vm.me.profileOptions track by $index"
      ng-click="option.action()">
      {{option.name | uppercase }}
    </div>
    </div>
  </div>
</div>
