@import "./mixins";
@import "./constants";

input:-webkit-autofill {
  background-color: #ffff;
}

//selection
::selection {
  background: $white;
  color: #fff;
}

::-moz-selection {
  background: $white;
  color: #fff;
}
