<header class="layout--header">
  <h2>CHIBB</h2>
  <p>CONCEPT HOUSE INSTITUUT VAN BOUW- EN BEDRIJFSKUNDE</p>
</header>

<section class="container">
  <div class="register-container">
    <std-button text="Back" ng-click="vm.back()"></std-button>
    <std-text label="Email" type="email" data="vm.email"></std-text>
    <std-text label="Name" type="text" data="vm.name"></std-text>
    <std-text label="Password" type="password" data="vm.password"></std-text>
    <std-text label="Repeat password" type="password" data="vm.repeatPassword"></std-text>
    <std-button text="register" ng-click="vm.register()"></std-button>
    <p class="error-message">{{vm.error}}</p>
  </div>
</section>
