@import "../../core/constants";
@import "../../core/mixins";

sensors .sensors-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 2% 0;
  box-sizing: border-box;
}

sensors p {
  font-weight: bold;
  margin-bottom: 2px;
  color: $orange;
}

sensors .status-legend {
 margin-left: 1px
}

sensors .status-container {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $grey;
}

sensors .status {
  display: block;
  width: 50%;
  text-transform: capitalize;
}

sensors .status.right {
  float: right;
}

sensors .status > .fa {
  padding: 5px;

  &.active {
    color: green;
  }

  &.intermittend {
    color: orange;
  }

  &.inactive {
    color: red;
  }
}

sensors .error {
  text-align: center;
  color: red;
  font-style: italic;
}

sensors table {
  border-collapse: collapse;
}

sensors tr:hover {
  background-color: $light-grey;
  cursor: pointer;
}

sensors th {
  user-select: none;
  background-color: $orange;
  border: 1px solid $orange;
  padding: 8px;
  cursor: pointer;
  color: $white;
  text-align: left;
  padding-left: 10px;
}

sensors td {
  border: 1px solid $light-grey;
  padding: 8px;
  text-align: left;
}

sensors td > i {
  float: right;
  &:hover {
    color: red;
  }
}

sensors .add {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
  &:hover {
    color: $green;
  }
}

sensors .user-modal {
  background-color: $white;
  box-shadow: 0px 6px 35px #888888;
  width: 65%;
  height: 75%;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
}

sensors .user-modal.ng-hide {
  opacity: 0;
}

sensors .user-modal.ng-hide-add, .user-modal.ng-hide-remove {
  transition: all 0.3s linear;
}

sensors .user-modal > i {
  position: absolute;
  right: 0;
  padding: 8px;
  font-size: 18px;
  color: $orange;
  cursor: pointer;

}

sensors .form-container {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

sensors .form-container > h3 {
  color: $orange;
}

sensors .form-container > hr {
  border: 1px solid $green;
  margin-bottom: 3%;
}

sensors .form-container > std-text, std-dropdown {
  margin-bottom: 10px;
  display: block;
}