@import "../../core/constants";
@import "../../core/mixins";

profile .profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

profile .form-container {
  width: 50%;
  margin-top: 2%;
}

profile hr {
display: block;
height: 1px;
border: 0;
border-top: 1px solid $orange;
margin: 1em 0;
padding: 0;
}
